body,html{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}
#corpo{
    background: url(../img/summonersrift.jpg) ;
    background-position: center top;
    background-size: contain 100vh;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0%;
}
p{
    color: rgba(255, 255, 255, 0.729);
}

/* Parte inicial o cabeçalho */
#corpo>header{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;

    align-items: center;
    text-align: center;
    justify-content:space-evenly;

    width: 100%;
    height: 15vh;

}
#corpo>header>h1{
    font-variant: small-caps;
}
#corpo>header>nav>a{
    margin: 3px;
    color: white;
    text-decoration: none;
}
#corpo>header>nav>a:hover{
    margin: 3px;
    color: rgb(0, 62, 194);
    text-decoration: none;
}

/* Meio do site*/
#corpo>main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
}
#iconefoto{
    border-radius: 50%;
}
#corpo>main>#apresentaçao{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
    padding: 10px;
    max-width: 500px;
}
#corpo>main>.coraçao{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.coraçao>section{
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.coraçao>section>img{
    margin: 40px;
}

.veias{
    background-color: rgba(19, 58, 148, 0.582);
    display: flex;
    flex-flow: column;
    margin: 10px;
}
.sangue{
    display: flex;
    max-width: 1300px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    padding: 13px;
}



#corpo>footer{

}